<!--
     Title: about.component.html
     Author: Professor Krasso
     Co-Author: Janis Gonzalez
     Date: 9/2/2023
     Description: HTML for about component
-->


<!-- header column-->
<header class="container-fluid text-center about">
  <div class="containter p-5">
    <h1 class="display-1">About Us</h1>

    <!-- about paragraph-->
    <p class="lead">
      Welcome to our magical task sorting application, Nodebucket. Our app helps you manage your to-dos in true Hogwarts style.
      Immerse yourself in our realm as you organize your tasks with a touch of magic.
      Embrace the spirit of the Marauder's Map as you navigate through your daily quests and map out your journey to success.
      With our intuitive interface and spellbinding features, you can assign tasks to different members,
      set due dates with Time-Turner precision, and set reminders for your tasks — just like a Remembrall!

      Join us on this enchanting adventure of productivity and organization, where your to-do list becomes a magical parchment,
      and your accomplishments are celebrated like the Triwizard Cup. With our app, managing tasks has never been more spellbinding.
    </p>
  </div>
</header>

<div class="container my-5">
  <div class="row">
    <!-- about us image column-->
    <div class="col-md-5">
      <img src="./assets/about-project.png"
      alt="white printer paper beside silver laptop computer"
      class="img-fluid rounded">
    </div>
    <!-- task column-->
    <div class="col-md-7">
      <h2 class="display-3">Task Management</h2>
      <p class="lead">
        Nodebucket is a versatile task management tool, empowering users to effortlessly generate, inspect, and modify
        tasks, with the added convenience of intuitive drag-and-drop functionality for updating task statuses.
      </p>
      <p class="lead">
        Some of the feedback we have received includes:
      </p>
      <ul>
        <li>Finally, an app worthy of a Slytherin! Like a Polyjuice Potion for transforming chaos into order!</li>
        <li>A true gem in my arsenal. It's as if it's been brewed to perfection.</li>
        <li>This app is like having a secret chamber to organize my tasks. It's practically a Horcrux for my productivity.</li>
        <li>It's like having my own personal army of house elves, sorting and arranging things just the way I want.</li>
      </ul>
    </div>
    <!-- end of task column-->

  </div>
<!-- end of row-->

<!-- line separation -->
<hr class="my-5">

<div class="row">
  <div class="col-md-7">
    <h2 class="display-3">Mobile Accessibility</h2>
    <p class="lead">
      Nodebucket is available on any device. Our website is fully responsive and
      will work on any device. So, say goodbye to those quills and parchment. Your tasks, your way, wherever you roam!
    </p>
  </div>

  <div class="col-md-5">
    <img src="./assets/about-mphone.png" alt="person holding a mobile smartphone with white shirt"
    class="img-fluid rounded">
  </div>
</div>

<!-- line separation -->
<hr class="my-5">

<!-- team start header -->
<div class="row">
  <div class="col-md-12">
    <h2 class="display-3 text-center">Our Team</h2>
    <p class="lead text-center">
      Our team is comprised of the following members:
    </p>
  </div>
</div>

<!-- first team member start -->
<div class="row">

  <div class="col-md-5">
    <img src="./assets/about-restui.png"
    alt="older man in green robes and green hat"
    class="img-fluid rounded">
  </div>

  <div class="col-md-7">
    <p class="lead">
      <strong class="team">Restui Ioer</strong> - Much like a skilled potion maker, Restui blends creativity with technical acumen,
      transforming complex concepts into elegant interfaces. From the grand halls of e-commerce platforms to the enchanted
      gardens of personal blogs, Restui's spells of coding brilliance leave users entranced and engaged. In this mystical tale
      of technology and magic, Restui is a name whispered among code scrolls and spellbooks, a Senior Web Developer whose feats
      are celebrated from Hogwarts to Diagon Alley. With every line of code he writes, he weaves a new chapter in the story of
      web development — a tale of innovation, creativity, and the wizardry of Restui.
    </p>
  </div>

</div>
<!-- first team member end -->

<!-- second team member start -->
<div class="row my-5">

  <div class="col-md-5">
    <img src="./assets/about-teralais.png" alt="woman with black eyes and black hair in black robes"
    class="img-fluid rounded">
  </div>

  <div class="col-md-7">
    <p class="lead">
      <strong class="team">Teralais Evergarden</strong> -  Teralais is a junior web developer with a magical twist. By day, Terala navigates the
      intricate codes and frameworks of web development, weaving digital spells that bring websites to life. By night,
      she dons her robes and harnesses the powers of a witch, conjuring potions of creativity and casting spells of innovation.
      With her trusty wand and keyboard, Terala strives to merge the realms of technology and magic, crafting online experiences
      that are truly spellbinding. Join her on a journey where lines of code intertwine with
      incantations, and pixels dance to the rhythm of her magical keystrokes.
    </p>
  </div>

</div>
<!-- second team member end-->

<!-- third team member end-->
<div class="row my-5">

  <div class="col-md-5">
    <img src="./assets/about-lithat.png" alt="rat with green hat and green bow"
    class="img-fluid rounded">
  </div>

  <div class="col-md-7">
    <p class="lead">
      <strong class="team">Lithat Xenophilius</strong> - As a marketing manager, Lithat is a true sorcerer of persuasion, concocting strategies
      that cast an irresistible charm on both wizarding and muggle audiences. With a knack for identifying the perfect blend
      of enchantment and engagement, Lithat's campaigns leave a lasting mark on minds and hearts, much like a spell that lingers
      long after it's been cast. <br />
      Beyond their marketing prowess, Lithat is an advocate for accessibility, ensuring that enchanting creations are usable
      by wizards, muggles and anything in between. Their dedication to user experience mirrors Dumbledore's wisdom, creating
      digital experiences that feel like home at the Burrow.
    </p>
  </div>

</div>
<!-- third team member end-->

</div>
<!-- end of container -->