<!--
     Title: signin.component.html
     Author: Professor Krasso
     Co-Author: Janis Gonzalez
     Date: 8/17/2023
     Description: HTML for sign-in component
-->

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card shadow">

      <div class="card-title text-center border-bottom">
        <h2>Employee Sign In</h2>
      </div>

      <!-- error message -->

      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{ errorMessage }}</div>

      <div class="card-body">
        <form [formGroup]="signinForm" (ngSubmit)="signin(); signinForm.reset();">
          <div class="mb-4">
            <label for="empId" class="form-label">Employee ID:</label>
            <input type="text" class="form-control" id="empId" formControlName="empId" />

          </div>

          <div class="d-grid">
            <button type="submit" class="signin-btn btn btn-dark">
              <span *ngIf="!isLoading">Sign in</span>

              <div *ngIf="isLoading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...
              </div>
            </button>
          </div>
        </form>
      </div>
      </div>
      <a routerLink="/" class="text-dark text-underline-hover">Return</a>
    </div>
  </div>
</div>
