<!--
     Title: home.component.html
     Author: Professor Krasso
     Co-Author: Janis Gonzalez
     Date: 8/17/2023
     Description: HTML for home page
-->



<div class="container-fluid pt-2">

  <h1 class="text-center">Welcome to the Nodebucket Application!</h1>
  <div class="row mt-5">
    <div class="col-sm-4">
      <!-- tasks -->
      <figure>
        <a routerLink="/task-management/my-tasks">
          <img class="img-fluid" src="./assets/about-journal.png" alt="to do list with a calendar" />
        </a>
        <h1>Tasks</h1>
        <p>Nodebucket is a simple to-do list application that allows you to manage and keep track of your tasks.</p>
      </figure>
    </div>
    <!-- about us -->
    <div class="col-sm-4">
      <figure>
        <a routerLink="/about">
          <img class="img-fluid" src="./assets/about.png" alt="desk with charts and hands" />
        </a>
        <h1>About Us</h1>
        <p>Learn more about our company and why Nodebucket is right for you.</p>
      </figure>
    </div>
    <!-- contact us -->
    <div class="col-sm-4">
      <figure>
        <a routerLink="/contact">
          <img class="img-fluid" src="./assets/contact-us.png" alt="person with phone" />
        </a>
        <h1>Contact Us</h1>
        <p>Have questions? We have answers. Contact us today!</p>
      </figure>
    </div>
  </div>
</div>


